.mt-0-5 {
	margin-top: -5rem !important;
}
.mr-auto {
    margin-right: auto;
}
.ml-auto {
    margin-left: auto;
}
.min-h-70px{
    min-height: 70px;
}
.overflow-anchor-none {
    overflow-anchor: none;
}