
.footer-columns {    
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));    
}

.footer-col h3, .footer-col h4 {
  margin-bottom: 0.5em;
}
.footer-col ul {
  list-style: none;
  padding: 0;
}

