/* ================================
   🧩 Inputs & Forms
================================ */
input,
textarea,
select {
  width: 100%;
  font-size: 1rem;
  font-family: 'Inter';
  border-radius: var(--border-radius);
  padding: 0.5rem;
  border: 1px solid var(--base-20);
  background-color: var(--base-10);
  color: var(--base-90);
}
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}