svg use {
	pointer-events: none;
}

.a-16x9 {
	aspect-ratio: 16 / 9;
	object-fit: cover;
	height: auto;
}
.a-1x1 {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	height: auto;
}
.a-3x4 {
	aspect-ratio: 3 / 4;
	object-fit: cover;
	height: auto;
}
.a-4x3 {
	aspect-ratio: 4 / 3;
	object-fit: cover;
	height: auto;
}

.absolute {
	position: absolute;
}

.ac-center {
	align-content: center;
}

.accent-color-base-100 {
	accent-color: var(--base-100);
}

.after-border-bottom::after {
	border-bottom: 0.5px solid var(--base-10);
	content: "";
	display: block;
}

.ai-center {
	align-items: center;
}

.ai-f-end {
	align-items: flex-end;
}

.ai-f-start {
	align-items: flex-start;
}

.align-start {
	align-content: start;
	align-items: start;
	text-align: start;
}
.b-top-dashed {
	border-top: var(--border-width-thin, 0.5px) dashed var(--base-50);
}
.b-top-solid-primary {
	border-top: var(--border-width-solid, 4px) solid var(--primary-base);
}
.b-top-solid-secondary {
	border-top: var(--border-width-solid, 4px) solid var(--secondary-base);
}
.b-top {
	border-top: var(--border-width, 1px) solid var(--base-50);
}
.b-top-0 {
	border-top: 0;
}
.b-bottom {
	border-bottom: var(--border-width, 1px) solid var(--base-50);
}

.b-thin-primary-light {
	border: var(--border-width-thin, 0.5px) solid var(--primary-light);
}

.backdrop-blur {
	-webkit-backdrop-filter: blur(12px) saturate(160%);
	backdrop-filter: blur(12px) saturate(160%);
}
.bg, .hover-bg:hover {
  background-color: var(--background-color);
}
.bg-base-00, .hover-bg-base-00:hover {
	background-color: var(--base-00);
}

.bg-base-05, .hover-bg-base-05:hover {
	background-color: var(--base-05);
}

.bg-base-10, .hover-bg-base-10:hover {
	background-color: var(--base-10);
}

.bg-base-100, .hover-bg-base-100:hover {
	background-color: var(--base-100);
}

.bg-base-100-6 {
	background-color: rgba(0,0,0,0.6);
}

.bg-base-20, .hover-bg-base-20:hover {
	background-color: var(--base-20);
}

.bg-base-40 {
	background-color: var(--base-40);
}

.bg-base-50 {
	background-color: var(--base-50);
}

.bg-base-80 {
	background-color: var(--base-80);
}

.bg-base-90 {
	background-color: var(--base-90);
}

.bg-col-ff, .hover-bg-col-ff:hover {
	background-color: transparent;
}

.bg-primary-darker-x, .focus-bg-primary-darker-x:focus, .focus-vis-bg-primary-darker-x:focus-visible, .hover-bg-primary-darker-x:hover {
	background-color: var(--primary-darker-x);
}

.bg-primary-darker, .focus-bg-primary-darker:focus, .focus-vis-bg-primary-darker:focus-visible, .hover-bg-primary-darker:hover {
	background-color: var(--primary-darker);
}
.bg-primary-dark, .focus-bg-primary-dark:focus, .focus-vis-bg-primary-dark:focus-visible, .hover-bg-primary-dark:hover {
	background-color: var(--primary-dark);
}
.bg-primary, .focus-bg-primary:focus, .focus-vis-bg-primary:focus-visible, .hover-bg-primary:hover {
	background-color: var(--primary-base);
}


.bg-primary-light, .focus-bg-primary-light:focus, .focus-vis-bg-primary-light:focus-visible, .hover-bg-primary-light:hover {
	background-color: var(--primary-light);
}

.bg-primary-lighter, .focus-bg-primary-lighter:focus, .focus-vis-bg-primary-lighter:focus-visible, .hover-bg-primary-lighter:hover {
	background-color: var(--primary-lighter);
}

.bg-primary-lighter-x, .focus-bg-primary-lighter-x:focus, .focus-vis-bg-primary-lighter-x:focus-visible, .hover-bg-primary-lighter-x:hover {
	background-color: var(--primary-lighter-x);
}

.bg-secondary-base, .hover-bg-secondary-base:hover {
	background-color: var(--secondary-base);
}

.bg-secondary-dark, .hover-bg-secondary-dark:hover {
	background-color: var(--secondary-dark);
}

.bg-secondary-darker, .hover-bg-secondary-darker:hover {
	background-color: var(--secondary-darker);
}

.bg-secondary-darker-x, .hover-bg-secondary-darker-x:hover {
	background-color: var(--secondary-darker-x);
}	

.bg-secondary-light, .hover-bg-secondary-light:hover {
	background-color: var(--secondary-light);
}
.bg-secondary-lighter, .hover-bg-secondary-lighter:hover {
	background-color: var(--secondary-lighter);
}
.bg-secondary-lighter-x, .hover-bg-secondary-lighter-x:hover {
	background-color: var(--secondary-lighter-x);
}

.bg-success, .hover-bg-success:hover {
	background-color: var(--success);
}

.bg-error, .hover-bg-error:hover {
	background-color: var(--error);
}
.bg-success-dark {
	background-color: var(--success-dark, green);
}
.bg-success-light {
	background-color: var(--success-light, lightgreen);
}
.bg-alert-light {
	background-color: var(--alert-light, lightyellow);
}
.bg-note-light {
	background-color: var(--note-light, lightblue);
}
.bg-error-light {
	background-color: var(--error-light, lightcoral);
}


.bg-transparent, .hover-bg-transparent:hover {
	background-color: transparent;
}
.focus-visible:focus-visible {
	outline: 2px solid var(--primary-base); /* Optional: fallback color */
	outline-offset: 2px;
}
.block {
	display: block;
}

.bold {
	font-weight: var(--font-weight-bold);
}
.border, .hover-border:hover {
	border-style: solid;
	border-width: 1px;
}
.border-primary, .hover-border:hover {
	border: 1px solid var(--primary-base);
}
.border-secondary, .hover-border-secondary:hover {
	border: 1px solid var(--secondary-base, var(--base-80));
}
.border-primary-light, .hover-border-primary-light:hover {
	border: 1px solid var(--primary-light);
}

.border-0, .hover-border-0:hover {
	border: 0;
}

.border-2, .hover-border-2:hover {
	border: 2px solid var(--primary-base);
}

.border-base-10, .hover-border-base-10:hover {
	border: 1px solid var(--base-10);
}

.border-base-100, .hover-border-base-100:hover {
	border: 1px solid var(--base-100);
}

.br-left-primary {
	border-left: 6px solid var(--primary-base);
}
.br-left-secondary {
	border-left: 6px solid var(--secondary-base);
}
.br-left-success {
	border-left: 6px solid var(--success);
}
.br-left-error {
	border-left: 6px solid var(--error);
}
.br-left-alert {
	border-left: 6px solid var(--alert);
}
.br-left-note {
	border-left: 6px solid var(--note);
}

.border-transparent, .hover-border-transparent:hover {
	border: 1px solid transparent;
}
hr, .hr {  	
	border: none;
	border-top: 1px solid var(--base-40);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	margin-block: 1rem;
}
.bottom-0 {
	bottom: 0;
}
.bottom-10 {
	bottom: 10px;
}

.box-shadow, .hover-box-shadow:hover {
	box-shadow: var(--shadow-base);
}

.box-shadow-bottom, .hover-box-shadow-bottom:hover {
	box-shadow: var(--shadow-bottom);
}

.box-shadow-glow, .hover-box-shadow-glow:hover {
	box-shadow: var(--shadow-glow);
}

.box-shadow-light, .hover-box-shadow-light:hover {
	box-shadow: var(--shadow-light);
}

.box-shadow-strong, .hover-box-shadow-strong:hover {
	box-shadow: var(--shadow-strong);
}

.br {
	border-radius: var(--border-radius);
	
}
.br-unset {
	border-radius: unset;
}
.br-05-col {
	border: 0.5px solid var(--secondary);
}

.br-1 {
	border-radius: 1rem;
}

.br-1-base-100 {
	border: 1px solid var(--base-100);
}

.br-2 {
	border-radius: 2rem;
}

.br-50 {
	border-radius: 50%;
}



.bs-0-0-1-3 {
	box-shadow: 0 0 1px 3px rgb(0,0,0,0.1);
}

.bs-1-1-8-2-base-100, .hover-bs-1-1-8-2-base-100:hover {
	box-shadow: 1px 1px 8px 2px var(--base-100);
}

.bx-0-0-4-4, .hover-bx-0-0-4-4:hover {
	box-shadow: 1px 1px 20px 0px #fffb6f;
}

.bx-0-2-8-0 {
	box-shadow: 0 2px 8px #00000050;
}

.capitalize {
	text-transform: capitalize;
}

.center {
	place-content: center;
	place-items: center;
	place-self: center;
	text-align: center;
}
.place-items-center{
	place-items: center;
}
.col-base-00, .focus-col-base-00:focus, .focus-vis-col-base-00:focus-visible, .hover-col-base-00:hover {
	color: var(--base-00);
}
.col-base-05, .focus-col-base-05:focus, .focus-vis-col-base-05:focus-visible, .hover-col-base-05:hover {
	color: var(--base-05);
}

.col-base-10, .focus-col-base-10:focus, .focus-vis-col-base-10:focus-visible, .hover-col-base-10:hover {
	color: var(--base-10);
}
.col-base-20 {
	color: var(--base-20);
}
.col-base-50, .focus-col-base-50:focus, .focus-vis-col-base-50:focus-visible, .hover-col-base-50:hover {
	color: var(--base-50);
}
.col-base-80, .focus-col-base-80:focus, .focus-vis-col-base-80:focus-visible, .hover-col-base-80:hover {
	color: var(--base-80);
}
.col-base-90, .focus-col-base-90:focus, .focus-vis-col-base-90:focus-visible, .hover-col-base-90:hover {
	color: var(--base-90);
}
.col-base-95, .focus-col-base-95:focus, .focus-vis-col-base-95:focus-visible, .hover-col-base-95:hover {
	color: var(--base-95);
}
.col-base-100, .focus-col-base-100:focus, .focus-vis-col-base-100:focus-visible, .hover-col-base-100:hover {
	color: var(--base-100);
}
.text-color, .col-text, .focus-col-text:focus, .focus-vis-col-text:focus-visible, .hover-col-text:hover {
	color: var(--text-color);
}




.col-inherit {
	color: inherit;
}
.col-primary-darker, .focus-col-primary-darker:focus, .focus-vis-col-primary-darker:focus-visible, .hover-col-primary-darker:hover {
	color: var(--primary-darker);
}
.col-primary-dark, .focus-col-primary-dark:focus, .focus-vis-col-primary-dark:focus-visible, .hover-col-primary-dark:hover {
	color: var(--primary-dark);
}	

.col-primary, .focus-col-primary:focus, .focus-vis-col-primary:focus-visible, .hover-col-primary:hover {
	color: var(--primary-base);
}

.col-primary-light, .focus-col-primary-light:focus, .focus-vis-col-primary-light:focus-visible, .hover-col-primary-light:hover {
	color: var(--primary-light);
}

.col-primary-lighter, .focus-col-primary-lighter:focus, .focus-vis-col-primary-lighter:focus-visible, .hover-col-primary-lighter:hover {
	color: var(--primary-lighter);
}

.col-secondary, .focus-col-secondary:focus, .focus-vis-col-secondary:focus-visible, .hover-col-secondary:hover {
	color: var(--secondary);
}
.col-error {
	color: var(--error);
}
.col-success-dark {
	color: var(--success-dark, green);
}

.pointer {
	cursor: pointer;
}
.pointer-events-auto {
	pointer-events: auto;
}

.desktop-logo-svg, .nav-text-desktop {
	display: none;
}

.big-display-block {
	display: none;
}

.sm-display {
	display: block;
}

.dropdown-menu.open {
	display: flex;
}

.dropdown:hover .hover-down-arrow-rotate {
	transform: rotate(180deg);
	transition: transform 0.3s ease-in-out;
}

.fill-base-00, .hover-fill-base-00:hover .icon-primary, .hover-fill-base-00:hover {
	fill: var(--base-00);
}

.fill-base-100, .hover-fill-base-100:hover .icon-primary, .hover-fill-base-100:hover {
	fill: var(--base-100);
}

.fill-base-100, .hover-fill-base-100:hover {
	fill: var(--base-100);
}

.fill-primary, .hover-fill-primary:hover {
	fill: var(--primary-base);
}

.fill-primary-lighter, .hover-fill-primary-lighter:hover {
	fill: var(--primary-lighter);
}

.fixed {
	position: fixed;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}

.font-inherit {
	font-size: inherit;
}

.full-height, .h-full {
	height: 100% !important;
}
.ar-unset{
	aspect-ratio: unset !important;
}


.full-width, .w-full {
	width: 100%;
}
.w-fit {
	width: fit-content;
}
.gap {
	gap: 1rem;
}

.gap-0 {
	gap: 0;
}
.gap-02 {
	gap: 0.2rem;
}	
.gap-05 {
	gap: 0.5rem;
}

.gap-2 {
	gap: 2rem;
}

.h-1-0 {
	height: 1rem;
}

.h-1-25 {
	height: 1.25rem;
}

.h-1-5 {
	height: 1.5rem;
}

.h-18 {
	height: 18px;
}

.h-2-0 {
	height: 2rem;
}

.h-2-5 {
	height: 2.5rem;
}

.h-20 {
	height: 20px;
}

.h-260 {
	height: 260px;
}

.h-3-0 {
	height: 3rem;
}

.h-30 {
	height: 30px;
}

.h-40 {
	height: 40px;
}

.h-50 {
	height: 50px;
}

.h-60 {
	height: 60px;
}

.h-auto {
	height: auto;
}
.h-unset {
	height: unset !important;
}
.height-fit {
	height: fit-content;
}

.hide, .display-none, .none, .is-hidden {
	display: none !important;
}

.hover-no-bg-col:hover {
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 4px #e3e9ff;
}

.inset-0{
	inset: 0;
}
.grid{
	display: grid;
}
.inherit {
	display: inherit !important;
}

.initial {
	display: initial !important;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.inline-flex {
	display: inline-flex;
}

.jc-center {
	justify-content: center;
}

.jc-even {
	justify-content: space-evenly;
}

.jc-f-start {
	justify-content: flex-start;
}
.jc-f-end {
	justify-content: flex-end;
}

.jc-space-between {
	justify-content: space-between;
}

.jc-start {
	justify-content: flex-start;
}

.left-0 {
	left: 0;
}

.left-50 {
	left: 50%;
}

.lh-0 {
	line-height: 0;
}
.lh-1 {
	line-height: 1;
}
.lh-1-2 {
	line-height: 1.2;
}

.m-0 {
	margin: 0;
}
.m-05 {
	margin: 0.5rem;
}
.m-1 {
	margin: 1rem;
}	
.m-bottom-0 {
	margin-bottom: 0;
}
.m-bottom-05 {
	margin-bottom: 0.5rem;
}
.m-bottom-1 {
	margin-bottom: 1rem;
}
.m-bottom-2 {
	margin-bottom: 2rem;
}
.mb-0 {
	margin-block: 0;
}
.mb-02{
	margin-block: 0.2rem;
}
.mb-05 {
	margin-block: 0.5rem;
}
.mb-05-0 {
	margin-block: 0.5rem 0;
}

.mb-1 {
	margin-block: 1rem;
}

.mb-2 {
	margin-block: 2rem;
}
.mb-3 {
	margin-block: 3rem;
}
.mb-0-2{
	margin-block: -2rem;
}
.mt-1 {
	margin-top: 1rem;
}
.mt-05 {
	margin-top: 0.5rem;
}

.big-display-block {
	display: none;
}
.mi-0 {
	margin-inline: 0;
}
.mi-1 {
	margin-inline: 1rem;
}

.mi-auto {
	margin-inline: auto;
}

.mn-h-230 {
	min-height: 230px;
}
.mn-h-70vh {
	min-height: 70vh;
}

.mn-w-160 {
	min-width: 160px;
}

.mn-w-250 {
	min-width: 250px;
}

.mn-w-320 {
	min-width: 320px;
}



.mr-02 {
	margin-right: 0.2rem;
}

.mx-h-360 {
	max-height: 360px;
}
.mx-h-80vh {
	max-height: 80vh;
}
.mx-h-95vh {
	max-height: 95vh;
}
.mx-w-100 {
	max-width: 100px;
}

.mx-w-1040 {
	max-width: 1060px;
}

.mx-w-1200 {
	max-width: 1280px;
}

.mx-w-280 {
	max-width: 280px;
}

.mx-w-320 {
	max-width: 320px;
}

.mx-w-420 {
	max-width: 420px;
}

.mx-w-80 {
	max-width: 80px;
}

.mx-w-840 {
	max-width: 840px;
}

.mx-w-95-0 {
	max-width: 95%;
}

.mx-w-960 {
	max-width: 960px;
}
.mx-w-featured {
	max-width: var(--featured-image-width, 960px);
}
.mx-w-content {
	max-width: var(--content-width, 720px);
}

.mx-w-sidebar {
	max-width: var(--sidebar-width, 320px);
}
.mn-w-sidebar {
	min-width: var(--sidebar-width, 320px);
}

.mn-w-content {
	min-width: var(--content-width, 720px);
}
.mx-w-site, .mx-w-width {
	max-width: var(--site-width, 1280px);
}
.outline-none {
	outline: none;
}

.no-bb {
	border-bottom: none;
}

.no-bullets {
	list-style: none;
	margin-left: 0;
}
.overscroll-contain {	
	overscroll-behavior: contain;
}

.display-none.display {
	display: block;
}

.no-jc {
	justify-content: unset;
}

.no-line-height {
	line-height: unset;
}

.no-list-style-type {
	list-style-type: none;
}

.no-margin {
	margin: unset;
}

.no-p-b-imp {
	padding-bottom: unset !important;
}

.no-padding {
	padding: unset;
}

.no-width {
	width: unset;
}
.object-cover{
	object-fit: cover;
}
.object-contain{
	object-fit: contain;
}
.overflow-wrap-anywhere {
	overflow-wrap: anywhere;
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-auto{
	overflow: auto;
}
.opacity-0 {
	opacity: 0;
}	
.opacity-02{
	opacity: 0.2;
}
.opacity-05 {
	opacity: 0.5;
}
.opacity-15 {
	opacity: 0.15;
}
.opacity-50{
	opacity: 0.5;
}
.opacity-75{
	opacity: 0.75;
}
.opacity-90{
	opacity: 0.9;
}
.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.overflow-y-scroll {
	overflow-y: scroll;
}
.overflow-y-auto {
	overflow-y: auto;
}

.p-0 {
	padding: 0;
}

.p-02 {
	padding: 0.2rem;
}

.p-03 {
	padding: 0.3rem;
}

.p-05 {
	padding: 0.5rem;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 2rem;
}

.p-b-1 {
	padding-bottom: 1rem;
}

.pb-0-1 {
	padding-block: 0 1rem;
}

.pb-02 {
	padding-block: 0.2rem;
}

.pb-05 {
	padding-block: 0.5rem;
}

.pb-1 {
	padding-block: 1rem;
}

.pb-2 {
	padding-block: 2rem;
}

.pc-center {
	place-content: center;
}

.pi-05 {
	padding-inline: 0.5rem;
}

.pi-1 {
	padding-inline: 1rem;
}
.pi-2 {
	padding-inline: 2rem;
}	

.pr-1 {
	padding-right: 1rem !important;
}

.regular {
	font-weight: var(--font-weight-regular);
}

.relative {
	position: relative;
}

.right-0 {
	right: 0;
}

.round {
	border-radius: 50%;
}

.static {
	position: static;
}

.sticky {
	position: sticky;
}

.ta-center {
	text-align: center;
}

.ta-start {
	text-align: start;
}
.ta-end{
	text-align: end;
}

.text-x-small {
	font-size: 0.8rem;
}
.td-underline {
	text-decoration: underline !important;
}
.td-none{
	text-decoration: none !important;
}
.top-0 {
	top: 0;
}
.top-10vh {
	top: 10vh;
}

.top-0-20 {
	top: -20px;
}

.top-20 {
	top: 20px;
}
.top-2 {
	top: 2rem;
}
.top-5{
	top: 5rem;
}

.top-50 {
	top: 50%;
}

.top-90 {
	top: 90%;
}
.top-100 {
	top: 100%;
}
.transition-all {
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease-in-out;
}

.translate-50-0 {
	transform: translate(-50%,-50%);
}

.translate-x-50-0 {
	transform: translateX(-50%);
}

.uppercase {
	text-transform: uppercase;
}

.w-1-0 {
	width: 1rem;
}

.w-1-25 {
	width: 1.25rem;
}

.w-1-5 {
	width: 1.5rem;
}

.w-100 {
	width: 100px;
}

.w-150 {
	width: 150px;
}

.w-18 {
	width: 18px;
}

.w-2-0 {
	width: 2rem;
}

.w-2-5 {
	width: 2.5rem;
}

.w-20 {
	width: 20px;
}

.w-260 {
	width: 260px;
}

.w-3-0 {
	width: 3rem;
}

.w-30 {
	width: 30px;
}

.w-320 {
	width: 320px;
}

.w-40 {
	width: 40px;
}

.w-50-1 {
	width: calc(50% - 1rem);
}
.w-60 {
	width: 60px;
}

.w-90-0 {
	width: 90%;
}
.w-95-0 {
	width: 95%;
}
.w-site {
	width: var(--site-width);
}
.w-content{
	width: var(--content-width);
}
.w-sidebar {
	width: var(--sidebar-width);
}
.w-featured {
	width: var(--featured-image-width);
}	
.w-auto {
	width: auto;
}

.wb-break-word {
	word-break: break-word;
}

.width-unset {
	width: unset;
}

.wrap {
	flex-wrap: wrap;
}

.ws-pre-wrap {
	white-space: pre-wrap;
}
.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.z-10 {
	z-index: 10;
}

.z-100 {
	z-index: 100;
}

.z-1000 {
	z-index: 1000;
}

@media (hover: hover) and (min-width: 768px) {
	.dropdown:hover > .dropdown-menu {
		display: flex;
	}
}

@media (max-width: 768px) {
  /* sm- [ only small screens]*/
	main {
		padding: 1em;
	}

	.main-nav {
		left: 0;
		top: 100%;
		width: 100%;
	}

	.main-nav.active {
		display: flex;
	}

	.sm-ai-start {
		align-items: start !important;
	}

	.sm-flex-col {
		flex-direction: column;
	}

	.sm-ai-center {
		align-items: center;
	}

	.sm-full-width, .sm-w-full {
		width: 100%;
	}
	.sm-jc-space-between {
		justify-content: space-between;
	}
	.top-70 {
		top: 70%;
	}

	.sm-wrap {
		flex-wrap: wrap;
	}
	.sm-bg{
		background-color: var(--background-color);
	}
	.sm-hr {
		border: none;
		border-top: 1px solid var(--base-40);
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		margin-top: 0.2rem;
		margin-bottom: 0.5rem;
		margin-block: 1rem;
	}

}

@media (min-width: 1280px) {
  /* full- [ only above 1280px wide screen] */
	.full-display-none {
		display: none !important;
	}
	.full-sticky {
		position: sticky;
	}
	.full-br-1 {
		border-radius: 1rem;
	}
	.full-p-05 {
		padding: 0.5rem;
	}
	.full-top-0{
		top: 0;
	}
	.full-mr-unset {
		margin-right: unset !important;
	}
	.full-ml-unset {
		margin-left: unset !important;
	}
	.full-mr-auto {
		margin-right: auto;
	}
	.full-ml-auto {
		margin-left: auto !important; 
	}
	.full-mx-w-sidebar {
		max-width: var(--sidebar-width);
	}
	.full-w-full {
		width: 100% !important;
	}
	.full-mx-w-featured {
		max-width: var(--featured-image-width);
	}
	.full-flex-col {
		flex-direction: column !important;
	}
	.full-mx-h-95vh {
		max-height: 95vh;
	}
}



@media (min-width: 768px) {
  /* 
   * above small screens
   * prefix: big- 
   */
	.big-display-block {
		display: block;
	}
  	.big-bg-glass {
		background: rgba(255,255,255,0.08);
	}

	.big-border-glass {
		border: 1px solid rgba(255,255,255,0.2);
	}

	.big-box-shadow {
		box-shadow: var(--shadow-base);
	}
  
	.big-b-thin-primary-lighter {
		border: 0.5px solid var(--primary-lighter);
	}
	.sm-display {
		display: none;
	}

	.md-display-none {
		display: none !important;
	}

	.big-ai-center {
		align-items: center;
	}

	.big-flex-1 {
		flex: 1;
	}
	.big-flex-row{
		flex-direction: row !important;
	}
	.big-jc-between {
		justify-content: space-between;
	}

	.big-ta-start {
		text-align: start;
	}

	.big-display-block {
		display: block;
	}

	.md-display-block {
		display: block !important;
	}

	.md-display-flex {
		display: flex !important;
	}
	.big-w-featured {
		width: var(--featured-image-width);
	}
	.big-w-full {
		width: 100% !important;
	}
	.big-absolute {
		position: absolute;
	}
	.big-mn-h-230 {
		min-height: 230px;
	}
	.big-float-right {
	float: right !important;
}
.big-float-left {
	float: left !important;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* md- [ only medium screens - tablets ] */
	.md-display-none {
		display: none !important;
	}

	.md-display-block {
		display: block !important;
	}

	.md-display-flex {
		display: flex !important;
	}
	.md-wrap {
		flex-wrap: wrap;
	}
	.md-w-full {
		width: 100% !important;
	}
	.md-order-2 {
		order: 2 !important;
	}
	.md-order-3 {
		order: 3 !important;
	}
	.md-flex-row{
		flex-direction: row !important;
	}
	.md-opacity-50{
		opacity: 0.5;
	}

}
@media (min-width: 1024px) and (max-width: 1279px) {
  /* lg- [ only large screens - above tablet version desktops ] */
	.lg-mx-w-sidebar {
		max-width: var(--sidebar-width);
	}

  	.lg-display-none {
		display: none !important;
	}

	.lg-order-2 {
		order: 2 !important;
	}

	.lg-order-3 {
		order: 3 !important;
	}

	.lg-w-full {
		width: 100% !important;
	}

	.lg-display-block {
		display: block !important;
	}

	.lg-display-flex {
		display: flex !important;
	}
	.lg-display-grid {
		display: grid !important;
	}
	.lg-flex-row{
		flex-direction: row !important;
	}
	.lg-jc-center {
		justify-content: center;
	}
	.lg-wrap {
		flex-wrap: wrap;
	}
	.lg-mx-w-featured {
		max-width: var(--featured-image-width);
	}
	.lg-sticky {
		position: sticky;
	}
	.lg-height-fit {
		height: fit-content;
	}
	.lg-top-42vh {
		top: 42vh;
	}
	.lg-mx-h-40vh {
		max-height: 40vh;
	}
	.lg-mx-h-60vh {
		max-height: 60vh;
	}	
}
