.audio-layout {{
  grid-template-columns: minmax(0,1fr);
  grid-template-areas:
    "header"
    "player"
    "sidebar-left"
    "content"
    "sidebar-right"
    "footer"
    "footerNav";
}}
.audio-header   {{ grid-area: header; }}
.audio-player   {{ grid-area: player; }}
.audio-content  {{ grid-area: content; }}
.sidebar-left   {{ grid-area: sidebar-left; }}
.sidebar-right  {{ grid-area: sidebar-right; }}
.audio-footer   {{ grid-area: footer; }}
.footer-nav     {{ grid-area: footerNav; }}

/* Media */
.player-shell iframe, .player-shell audio {{
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}}

@media (min-width: 1024px) and (max-width: 1279px) {{
  .audio-layout {{
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "header header"
      "player player"
      "content sidebar-left"
      "content sidebar-right"
      "footer sidebar-right"
      "footerNav footerNav";
  }}
}}
@media (min-width: 1280px) {{
  .audio-layout {{
    grid-template-columns: 1fr minmax(auto, var(--content-width)) 1fr;
    grid-template-areas:
      "header header header"
      "player player player"
      "sidebar-left content sidebar-right"
      "sidebar-left footer sidebar-right"
      "footerNav footerNav footerNav";
  }}
  .sidebar-left, .sidebar-right {{
    max-height: calc(100vh - 5rem);
  }}
}}
.sidebar-left:empty, .sidebar-right:empty {{ display: none; }}