---
// src/pages/search.astro
// export const prerender = true;

import BaseLayout from '../layouts/BaseLayout.astro';

const pageSeo = {
  title: 'Search Results | nViewsWEB Astro Theme',
  description: 'Find content in the website using the search functionality.',
  authors: [],
};


// Get query from URL
const url = new URL(Astro.request.url);
const query = url.searchParams.get('q')?.toLowerCase() ?? '';


---
<BaseLayout headProps={pageSeo} >
  <Fragment slot="headContent-top"></Fragment>  
  <Fragment slot="headContent-bottom"></Fragment>
      <h1 class="cc-h3">
        {query ? `Search Results for: "${query}"` : 'Search ...'}
      </h1>
            
      <style>
        .search-box { margin-bottom: 1rem; }
        .search-input {
          width: 100%;
          padding: 0.5rem;
          font-size: 1rem;
        }
        .search-results li {
          margin: 0.5rem 0;
          border-bottom: 1px solid #ddd;
          padding-bottom: 0.5rem;
        }
        mark {
        background-color: #ffeb3b;
        color: inherit;
        padding: 0 2px;
      }
      .search-results {
        list-style: none;
        padding: 0;
      }
      .search-results h3 {
        margin-top: 1rem;
        font-size: 1.1rem;
      }

      </style>

      <div id="search" class="search-box">
        <input
          type="search"
          id="search-input"
          class="search-input"
          placeholder="Search articles, pages…"
          value=""
          autocomplete="off"
        />
        <ul id="search-results"></ul>
      </div>
      <!-- Load Fuse globally -->








  <Fragment slot="extraScripts"></Fragment>
</BaseLayout>